@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --svg-tick-url: url("./assets/icons8-tick.svg");
  --text-color: #333;
  --added-to-cart-color: #E7F8B7;
  --button-color: #3A4980;
  --horizontal-line-color: #b7b7b7;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*? Main container -> */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*? Image  Section -> */
.image_section {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.currentImageBox {
  width: 80%;
  height: 75%;
}

/*? The Main Image to be shown -> */
#posterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;

}

.other_imagesBox {
  width: 90%;
  height: 15%;
  display: flex;
  gap: 8px;
}

/*? Other images -> */
.small_Images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
  cursor: pointer;
}




/*? Product Section -> */
.product_section {
  width: 100%;
  height: 100%;
  display: flex;

}

.product_details_container {
  padding: 15px;
  width: 100%;
  height: 90%;
  /* border: 1px solid black; */
  margin-top: 2rem;
}


.product_vendor {
  border-bottom: 1px solid var(--horizontal-line-color);
  padding: 10px;
  padding-left: 0;
}


.product_price {
  border-bottom: 1px solid var(--horizontal-line-color);
  padding: 12px;
  padding-left: 0;
}

.price_box {
  display: flex;
  align-items: center;
  gap: 15px;
}


#discount {
  display: block;
  color: red;
}

#original_price {
  text-decoration: line-through;
  color: var(--horizontal-line-color);
}

#price {
  color: var(--button-color);
}

/*? Peoduct color select section styles -> */
.color_selector_box {
  border-bottom: 1px solid var(--horizontal-line-color);
  padding: 15px;
  padding-left: 0;

}

.color_selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.color-select {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.color-select {
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 3px;
}


.color-select:checked::after {
  content: var(--svg-tick-url);
  position: absolute;
  width: 29px;
  height: 29px;
  transform: translate(2%, 2%);
  background-color: initial;
  border: 3px solid white;
}

/*? size select styles -> */

.chose_size_box {
  border-bottom: 1px solid var(--horizontal-line-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
  padding-left: 0;

}

.select-size-box {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.size-select {
  cursor: pointer;
  width: 18px;
  height: 18px;
  accent-color: var(--button-color);
}

.select-size-box div {
  background-color: #F3F3F3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 10px;
  gap: 10px;
}

/*? Add to cart button styles -> */

.btn_box {
  display: flex;
  gap: 1rem;
  margin-top: 0.9rem;
}

.increase_item_box {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  justify-content: center;
  width: 90%;
  padding: 0.8rem;
  border-radius: 20px;
  color: var(--button-color);
  font-size: 0.9rem;
}

.addTocart_btn {
  background-color: var(--button-color);
  color: white;
  width: 80%;
  padding: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.addTocart_btn:hover {
  background-color: #364fa7;

}

/* apply styles for all buttons -> */
button {
  cursor: pointer;
  border: none;
  background: none;
}

.added_to_crt {
  background-color: var(--added-to-cart-color);
  width: 100%;
  border-radius: 3px;
  display: none;
  transition: 0.3s ease-in-out all;
}

.added_to_crt p {
  color: black;
  font-size: 0.7rem;
  padding: 3px;
  font-weight: bolder;
  margin: 0;
}


.description {
  padding: 15px;
  padding-left: 0;
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 5px;
  line-height: 1.3rem;

}

.sections_headings {
  color: var(--horizontal-line-color);
  font-size: 0.8rem;
  font-weight: 600;
}


/*? For Responsive Layout -> */

@media (min-width: 767px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .currentImageBox {
    width: 70%;
  }

  .image_section {
    margin-top: 0;
  }



  .product_details_container {
    width: 80%;
  }

  .chose_size_box {
    gap: 10px;
  }

  .select-size-box div {
    padding: 0.3rem;
    flex-direction: row;
    gap: 10px;
  }

  .increase_item_box {
    width: 25%;
  }

  .addTocart_btn {
    width: 40%;
    padding: 0.7rem;
  }

  .added_to_crt {
    width: 75%;
  }
}